<h1>Listing ballers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Active</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ballers.each do |baller| %>
      <tr>
        <td><%= baller.name %></td>
        <td><%= baller.email %></td>
        <td><%= baller.phone %></td>
        <td><%= baller.active %></td>
        <td><%= link_to 'Show', baller %></td>
        <td><%= link_to 'Edit', edit_baller_path(baller) %></td>
        <td><%= link_to 'Destroy', baller, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Baller', new_baller_path %>
