<h1>Listing games</h1>

<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Game on</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.day %></td>
        <td><%= game.game_on ? 'Yes' : 'No'  %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
