<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @game.day %>
</p>

<p>
  <strong>Game on:</strong>
  <%= @game.game_on %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
